.pu2 {
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #000;
}

.pu2 h2 {
  color: #023c67; 
  margin-bottom: 15px;
}

.pu3 input {
  width: 250px;
  padding: 8px 10px;
  border: 1px solid #023c67;
  border-radius: 5px;
  margin-bottom: 15px;
}

.pu4 {
  width: 100%;
  border-collapse: collapse;
}

.pu5 th {
  background-color: #023c67;
  color: white;
  padding: 10px;
  text-align: left;
}

.pu6 td {
  padding: 10px;
  border: 1px solid #ddd;
  color: #000;
}

.pu6 tr:nth-child(even) {
  background-color: #f5f5f5; /* light row shading */
}

button {
  background-color: #023c67;
  color: white;
  padding: 5px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #023c67;
}
.pu1{
    color:#023c67;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.course-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}

.course-card {
  width: 280px;
  padding: 18px;
  border-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
}

.course-card:hover {
  transform: scale(1.03);
}

.course-card h3 {
  margin-bottom: 6px;
  color: #023c67;
}

.enroll-btn {
  width: 100%;
  margin-top: 12px;
  padding: 10px;
  border: none;
  background-color: #023c67;
  color: white;
  cursor: pointer;
  font-size: 15px;
  border-radius: 8px;
}

.enroll-btn:hover {
  opacity: 0.8;
}
